.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

.devTool {
	display: inline-block;
	background: rgba(186, 237, 255, 0.514);
	padding: .25em .75em;
	margin: .25em 0;
	border-radius: 6px;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
	.navbar-item .image {
		flex-shrink: 1;
	}
}

@media (max-width: 850px) {
	.level { display:flex}
}

@media (max-width: 605px) {
	.hero-head > .columns {
		flex-direction: column;
	}
	.right {
		justify-content: flex-start;
		padding-top: 0;
	}
	.navbar-item .image {
		flex-shrink: 0;
	}
}

@media (max-width: 425px) {
	.right {
		font-size: 80%;
	}
}

.kph-picture {
	display: flex;
	align-items: center;
}

article.box.has-background-white.has-text-centered {
	cursor: pointer;
}